body {
	font-family: 'Barlow', sans-serif;
}

.image-container {
	margin: auto;
	width : 100%;
	height : auto;
	position: relative;
}

.votes-container {
	display: grid;
	grid-template-columns:20% 20% 20% 20%;
	grid-template-rows: auto;
	margin: auto;
	width : 100%;
	height : auto;
	justify-items:center;
	align-items: center;
	justify-content: center;
	align-content: center;
	padding-bottom: 50px;
}

.votes-container img{

}

.votes-container button {
	border-radius: 10px;
	font-size: 3rem;
}

.votes-container button:hover,
.votes-container:focus {
  box-shadow: 0 0.5em 0.5em -0.4em black;
  transform: translateY(-0.10em);
}

#button1 {
	margin-left: auto;
	background-color: #8e5ea2;
	border-color: #8e5ea2 
}

#button2 {
	margin-right: auto;
	background-color: #c45850;
	border-color: #c45850;
}
#rotate_img {
	position: absolute;
	animation: rotation 2s infinite linear;
	max-width: 30%;
	max-height: 30%;
	margin-left: 59vw;
	top : 30%;
}

#header {
	position: relative;
	margin : auto;
	display: block;
	z-index: -1;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


button {

}